@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background-color: #141516;
}

.report-card {
    width: 40%;
    background-color: #fff;
    box-shadow: 1px 1px 5px #000;
    padding: 50px 30px;
    border-radius: 20px;
    margin: 2% auto;
}

.Form h1{
    margin-bottom: 20px;
}

.Form input{
    width: 100%;
    margin-bottom: 25px;
    padding: 5px 0px;
    outline: none;
    border: 0px;
    border-bottom: 1px solid #666666;
}

.name-column {
    display: flex;
    gap: 15px;
}

.Form button{
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    transition: .4s;
}

.Form button:hover {
    background-color: #000;
    color: #fff;
}

.card{
    width: 40%;
    background-color: #fff;
    box-shadow: 1px 1px 5px #000;
    padding: 50px 30px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
}

.card h1{
    margin-bottom: 20px;
    color: #000;
}

.card p{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3f3e3e;
    color: #3f3e3e;
    margin-bottom: 20px;
    padding: 10px 0px;
}

.card p span{
    font-weight: 400;
}


@media (max-width:768px) {
    .report-card {
        width: 80%;
        padding: 50px 20px;
    }

    .card{
        width: 80%;
        padding: 50px 20px;
    }

    .Form h1 {
        font-size: 23px;
    }

    .name-column {
        display: flex;
        gap: 0px;
        flex-wrap: wrap;
    }

    .card h1 {
        font-size: 23px;
    }

    .card p {
        font-size: 15px;
        color: #000000;
    }
}
